# Ignore Setup files in the top directory as those are specific to the system
/Make.*
!/Make.top

# Ignore autodownloaded stuff
/include/tbb

# Ignore build directories
/bin/
/lib/
/src/**/**/
/testing/**/**/

*.o
libgoto2*.a
libgoto2*.so

*.sh

caldgemm
GotoBLAS2
ADL
cmodules

testing/ptest/hpl_config_option_list.h
testing/ptest/hpl_config_option_list.tmp

tools/bench_laswp/bench

tools/plots/user_data_dir/*
